<html>
  <div style="text-align: center;">
    <h1>Prueba del componente cronometro</h1>
    <app-cronometro inicio="15" (multiplo10)=(actualizar($event))></app-cronometro>
    <h2>Evento</h2>
    <h3>{{mensaje}}</h3>
  </div>

</html>