html, body{
  display: flex;
  flex-direction: column;
  height:100vh;
  margin: 0;
}
html { 
  background: url(../assets/img/wallpaperbetter.com_7680x4320.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  
}
